/* *{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: beige;
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

input:focus{
    outline: none;
}

.champsrecherche{
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    border: solid 2px black;
    border-radius: 50px;
    margin-top: 5%;
}

.champsrecherche input {
    background-color: transparent;
    width: 80%;
    height: 90%;
    border: none;
}
.champsrecherche button {
    height: 90%;
    width: 10%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .ajd {
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ajd article {
    width: 100%;
}

.ajd .dateheure {
    font-size: 11.8px;
    text-align: end;
    font-style: italic;
}

.ajd .condition {
    font-size: 11.8px;
    text-align: end ;
    margin-top: 3%;
}

.ajd .icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajd .temperature {
    font-size: 50px;
    text-align: center;
}

.ajd .paysville p:nth-child(1) {
    font-size: 30.9px ;
    margin: 0;
    line-height: 105%;
}

.ajd .payville {
    font-size: 19.3px;
} */

.autrejours {
    width: 100%;
}

.autrejours article {
    border-bottom: solid 1px black;
    display: flex;
    padding: 3%;
}

.autrejours .icone {
    width: 10%;
}

.autrejours .jour {
    width: 80%;
}

.autrejours .temp {
    width: 10%;
}

.install {
    background-color: black;
    color: beige;
    width: 40%;
    height: 6%;
    margin-top: 5%;
    border-radius: 50px;
}
